.map-container {
    background-image: linear-gradient(to bottom, #202020, #000000 70%);
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}

.map-table {
    table-layout: fixed;
    width: 100vw
}

.map-td {
    width: 80vw;
    height: 80vh;
    display: flex;
}

.map-sidebar-td {
    width: 10vw;
}