.map-container {
    background-image: linear-gradient(to bottom, #ffffff, #fffff0 70%);
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}

.map-table {
    table-layout: fixed;
    width: 100vw
}

.map-td {
    width: 60vw;
    height: 60vh;
    display: flex;
}

.map-sidebar-td {
    width: 20vw;
    height: 60vh;
}