#location-search-bar {
    height:4vh;
    background-color: #202020;
}

#location-search-bar-td {
    text-align: right;
}

#location-search-bar-td-first {
    padding-left: 25vw;
}

#location-search-bar-field {
    width: 60vw;
    height: 3vh;
    font-size: 2vh;
    background-color: #202020;
    color: #eee;
    border-bottom: 3px solid #303030;
    border-right: 3px solid #303030;
    border-radius: 4px;
}

#location-search-bar-button {
    width: 12vw;
    height: 3.5vh;
    font-size: 2vh;
    background-color: #202020;
    color: #eee;
    border: 3px solid #303030;
    border-radius: 4px;
}
